 ![https://www.python.org](./python.png)

# 1. Environment jupyter

Fichier jupyter-notebook : **\*.ipynb**

Commandes magiques **! et %**

!%pwd

!ls

In [2]:
!echo "Command linux"

"Command linux"

# 2. Variables

Opérateur d'affectation **en Python** est "="

nom_variable = valeur_variable

## Exemple

In [2]:
x = 5
y = 7 - x
z = 2*x-x*x

Le "=" dans ce contexte n'exprime *pas* l'équivalence mathématique.

## Type en Python : typage  dynamique

- Dans certains langages de programmation (comme *C*), le type de chaque variable doit être 
   donné explicitement avant son utilisation (un processus appelé **déclaration**). 
- En Python ce n'est pas nécessaire, le type d'une variable est 
   déterminée automatiquement lorsqu'une valeur est affectée à une variable.

In [2]:
type(x)

int

La commande IPython ``%whos`` est un moyen utile de voir les variables qui ont 
ont été définies dans un environnement Python: **noms, types, et valeurs etc**.

In [6]:
%whos

Variable   Type    Data/Info
----------------------------
x          int     5
y          int     2
z          int     -15

In [7]:
decim = 7.2

In [8]:
type(decim)

float

In [9]:
r=2 ;a=3;
a

3

In [2]:
i,j=2,4;

In [12]:
i

2

In [3]:
j

4

# changer des caleur

In [14]:
i,j=j,i

# Noms de variables

Il y a quelques règles pour les noms de variables à garder à l'esprit : 

* Ils sont composés (en général) de caractères *alphanumériques* (``a-z``), 
  A-Z``, ``0-9``) et le caractère de soulignement ``_``. Pour les dernières versions de Python (Python 3), les      caractères accentués sont acceptées. 

* Une variable ne peut pas *commencer* par un nombre, mais le nombre peut apparaître 
  n'importe où ailleurs.
  
* Caractères inutilisables :  Caractères spéciaux tel que "\, $, %, !,```. 
  etc" ne peuvent pas être utilisés, ni les virgules ``,``, ``, points ``. ``` ou 
  les tirets "-", car ils ont tous d'autres significations particulières.

* Le nom d'une variable *ne peut pas* être un mot réservé ou un mot clé (tel que 
  "or", "and", "if", "def", etc.).   Il ne devrait pas non plus être un mot avec 
  signification spéciale ("int", "float", "complex", " type ", etc.) parce que
  la fonctionnalité de ces significations originales devrait être maintenue. 
  
  Mots cles
  
```python
  
    False      await      else       import     pass
    None       break      except     in         raise
    True       class      finally    is         return
    and        continue   for        lambda     try
    as         def        from       nonlocal   while
    assert     del        global     not        with
    async      elif       if         or         yield
    
```
    
   

* Les variables sont sensibles à la casse (en effet, tous les mots en Python le sont). 
  En d'autres termes, Python fait la distinction entre majuscules et minuscules, de sorte que 
  "message", "Message" et "meSSage" sont trois variables différentes. 

N'oubliez pas de donner des noms de variables significatifs.

In [23]:
r = 2;

2

In [24]:
long_texte = 6

In [42]:
x2 = 1
x3 = 4.3

## Déclaration multiples

In [43]:
i, j = 2, 4
i

2

# 2. Types (int, float, bool, str, tuple, list, dict)

## Les entiers : **int**

In [1]:
n = 4;n

4

In [3]:
type(n)

int

## Les nombres floatant (**float**)

In [5]:
rayon = 3.4
v = 2.

In [6]:
v

2.0

In [12]:
type(v)

float

In [18]:
largeur= 3 + 5.1

In [14]:
type(largeur)

float

## Les booléens (bool)

Deux valeurs possibles 

```python

True , False
```

In [4]:
cond = True
cond

True

In [5]:
type(cond)

bool

# Les chaines de caractères (string en anglais: **str**)

In [3]:
sal = "Bonjour tout le monde";sal

'Bonjour tout le monde'

In [4]:
type(sal)

str

In [10]:
hi = 'Hello everyone'
hi

'Hello everyone'

In [9]:
type(hi)

str

In [21]:
a="l'ecole";a

"l'ecole"

In [25]:
lc="""       longue chaine   """ ;lc

'       longue chaine   '

In [26]:
var=input("donner n")

donner n2342

In [27]:
type(var)

str

## Les tuples (**tuple**)

In [13]:
serie1 = (1, 2, 10, 2.3, "a", "c")
serie1

(1, 2, 10, 2.3, 'a', 'c')

In [16]:
serie2 = (3, 5, "a", (1, 5.1))
serie2

(3, 5, 'a', (1, 5.1))

Notez que tout élément d'un tuple peut être en général de n'importe quel type ("int", "float", "str", "tuple", etc)

In [17]:
# tuple vide
tuple_vide = tuple()
tuple_vide

()

In [23]:
coord = (2, )
coord

(2,)

## Les listes (**list**)

In [15]:
liste_alphabet = ["A", "B", "C", "D", "E",]
liste_alphabet

['A', 'B', 'C', 'D', 'E']

In [16]:
liste_alphabet[1]

'B'

Comme les tuples, tout élément d'une liste peut être en général de n'importe quel type ("int", "float", "str", "tuple", "list", etc)

In [30]:
liste2 = [1, 2.3, 4., "A", "B", ["A", "B", "C", "D", "E"], (1,2,3)]
liste2

[1, 2.3, 4.0, 'A', 'B', ['A', 'B', 'C', 'D', 'E'], (1, 2, 3)]

# Les dictionnaires (**dict**)

## Syntaxe

dico = {cle1: valeur1, cle2: valeur2, .... , cle_n: val_n}

Remarque : 
* les valeurs peuvent être de n'importe quel type ("int", "float", "str", "tuple", "list", etc). 

* les clés aussi peuvent être (en général) de n'importe quel type ("int", "float", "str", "tuple") avec **certaines restrictions**. Par exemple, les clés ne peuvent pas par contre être une liste ou un dictionnaire

# Exemples

In [33]:
dico1 = {"A" : 0, "B": 1, "C": 1,"E":"V"}
dico1

{'A': 0, 'B': 1, 'C': 1, 'E': 'V'}

In [28]:
dico1["A"],dico1["C"]

(0, 1)

In [34]:
dico2 = {"D": 3, 2: "2", 9: [1,2,3], (1,2,3): 4, "dic": {1:1, "F": 6}}
dico2

{'D': 3, 2: '2', 9: [1, 2, 3], (1, 2, 3): 4, 'dic': {1: 1, 'F': 6}}

In [36]:
dico2["dic"]

{1: 1, 'F': 6}

In [39]:
dico3 = {"D": 3, 2: "2", 9: [1,2,3], [1,2,3]: 4}

In [40]:
dico4 = ("D": 3, 2: "2", 9: [1,2,3], [1,2,3]: 4)

# 3. Commentaires et Print

## Commentaires

Les commentaires commence par #

In [ ]:
# This is an example of using a comment.
a = 10
b = 35
print("the difference is:", b-a)

# print("I am invisible! (It's because I'm inside a comment.")
print("I am *not* inside a comment.  I will be interpreted!")

# This is a multiline comment, because I have ever-so-many things
# say about... what again?
X = 10
print("X^2 = ", X**2)

GRAVITY = 9.8   # units of m/s^2

## Affichage

Pour afficher une variable, on peut utiliser la fonction **print**

### Exemple

In [44]:
print(1,2,3)

1 2 3

In [2]:
a = 10
b = 35
print("the difference is:", b-a)

the difference is: 25

In [45]:
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

In [47]:
print(x2, x3, sep="; ")
print(x2+x3)

1; 4.3
5.3

In [48]:
print(x2, x3, sep="; ", end=" : ")
print(x2+x3)

1; 4.3 : 5.3